{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/AMPS.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "images/logo.jpg" %}">
    <title>AL-mashriq Public school sermik</title>
     <script
      src="https://kit.fontawesome.com/7a4b62b0a4.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    
  <header>
    <nav class="container">
    
      <div class="logo">
         <img src="{% static "images/logo.jpg" %}" alt="logo" height="80px">  
         </div>

      <ul>
        <a href="{% url "login" %}">
          <li>profile</li>
        </a>
        <ul>
          <a href="admission.html">
            <li>Admission</li>
          </a>
        <a href= "{% url "contact" %}">
          <li>Contact</li>
        </a>
        <a href="{% url "gallery" %}">
          <li>Gallery </li>
        </a>
        <a href="#Activities">
          <li> Activities</li>
        </a>
        <a href="{% url "login" %}">
          <li> login</li>
        </a>
        
      </ul>
    </nav>
  </header>
  
 
  <img src="{% static "images/school.jpg" %}" alt="school" height="1010px" >
 
<section class="pimg1">
  <div class="ptext">
    <span class="textBg"> DO sOME cODING</span>
  </div>
</section>
<section class="section section-light">
  <h2>Section One</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam aut
    amet odio est laborum obcaecati perferendis! Mollitia officiis,
    consectetur vitae laborum eos expedita reprehenderit nostrum tempore.
    Atque laborum repudiandae adipisci nihil. Natus cum sapiente culpa
    excepturi quasi magni quibusdam ipsum accusamus laborum, numquam odit!
    Nisi repudiandae cumque incidunt tempora explicabo vero in corporis
    provident quidem quisquam sit, asperiores ullam placeat ut iure pariatur
    ratione laboriosam totam amet minus. Porro, quam quisquam explicabo
    rerum labore, tempora officia eveniet mollitia iure a fugiat, magnam at.
    Vero magni aliquam ea molestias omnis, quia fuga architecto maiores ut
    magnam! Culpa, cum. Blanditiis, tempore temporibus.
  </p>
</section>
<section class="pimg2">
  <div class="ptext">
    <span class="textBg"> Explore our school</span>
  </div>
</section>
<section class="section section-dark">
  <h2>Section Two</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam aut
    amet odio est laborum obcaecati perferendis! Mollitia officiis,
    consectetur vitae laborum eos expedita reprehenderit nostrum tempore.
    Atque laborum repudiandae adipisci nihil. Natus cum sapiente culpa
    excepturi quasi magni quibusdam ipsum accusamus laborum, numquam odit!
    Nisi repudiandae cumque incidunt tempora explicabo vero in corporis
    provident quidem quisquam sit, asperiores ullam placeat ut iure pariatur
    ratione laboriosam totam amet minus. Porro, quam quisquam explicabo
    rerum labore, tempora officia eveniet mollitia iure a fugiat, magnam at.
    Vero magni aliquam ea molestias omnis, quia fuga architecto maiores ut
    magnam! Culpa, cum. Blanditiis, tempore temporibus.
  </p>
</section>
<section class="pimg3">
  <div class="ptext">
    <span class="textBg"> LOOK, DEEP INTO NATURE</span>
  </div>
</section>
<section class="section section-dark">
  <h2>Section Three</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam aut
    amet odio est laborum obcaecati perferendis! Mollitia officiis,
    consectetur vitae laborum eos expedita reprehenderit nostrum tempore.
    Atque laborum repudiandae adipisci nihil. Natus cum sapiente culpa
    excepturi quasi magni quibusdam ipsum accusamus laborum, numquam odit!
    Nisi repudiandae cumque incidunt tempora explicabo vero in corporis
    provident quidem quisquam sit, asperiores ullam placeat ut iure pariatur
    ratione laboriosam totam amet minus. Porro, quam quisquam explicabo
    rerum labore, tempora officia eveniet mollitia iure a fugiat, magnam at.
    Vero magni aliquam ea molestias omnis, quia fuga architecto maiores ut
    magnam! Culpa, cum. Blanditiis, tempore temporibus.
  </p>
</section>
<section class="pimg1">
  <div class="ptext">
    <span class="textBg"> Do Some Coding </span>
  </div>
</section>
<footer>
  <div class="footer_container container">
    <div class="footer_logo">
      <img src="logo.jpg" alt="logo" />
    </div>
    <div class="link_lists">
      <h3>Main Links</h3>
      <ul>
        <li>Order Tracking</li>
        <li>New Order</li>
        <li>Contact Us</li>
        <li>News & Blogs</li>
      </ul>
    </div>
    <div class="link_lists">
      <h3>Support</h3>
      <ul>
        <li>About Us</li>
        <li>Privacy Policy</li>
        <li>Terms & Conditons</li>
      </ul>
    </div>
    <div class="news_letter">
      <h3>Support</h3>
      <input type="email" placeholder="Enter your Email..." />
      <h3>Follow Us</h3>
      <div class="icon_container">
        <div class="icon">
         <a href="https://www.facebook.com/p/Al-Mashriq-Public-School-Sermik-100057643623049/">  <i class="fa fa-facebook"></i></a>
        </div>
        <div class="icon">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="icon">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
        <div class="icon">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>