<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    {% if data.message %}
      <p>{{ data.message }}</p>
    {% endif %}
    <form action="{% url 'contact' %}" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="message">Message:</label>
        <textarea name="message" id="message" required></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>

    <div>
        {% if data.messages %}
        {% for msg in data.messages %}
        <a href="{% url 'edit-contact' msg.id %}">

            <p>Name: {{msg.name}}</p>
        <p>Email: {{msg.email}}</p>
        <p>Message: {{msg.message}}</p>
        </a>
        <button type="button" onclick="window.location.href='{% url 'delete-contact' msg.id %}'">Delete</button>

        {% endfor %}
        {% endif %}
    </div>
</body>
</html>