{% load static %}
<!DOCTYPE html>
<html>

<head> 
      <title>HTML Login Form</title>
      <link rel="stylesheet" href="{% static "css/login.css" %}">
</head>
 
<body>
<center> 
      <div class="main" hight="90%">
            <h1>AL- mashriq public school</h1>
            <h3>Enter your login credentials</h3>
            {% if data.error %}
            <p> {{ data.error }} </p>
            {% elif data.message %}
            <p> {{ data.message }} </p>
            {% endif %}
            <form action="{% url "login" %}" method="post">
                  {% csrf_token %}
                  <label for="first">
                        Username:
                  </label>
                  <input type="text" 
                         id="first" 
                         name="username" 
                         placeholder="Enter your Username" required>

                  <label for="password">
                        Password:
                  </label>
                  <input type="password"
                         id="password" 
                         name="password"
                         placeholder="Enter your Password" required>

                  <div class="wrap">
                        <button type="submit"
                                onclick="solve()">
                              Submit
                        </button>
                  </div>
            </form>
            <p>Not registered?
                  <a href="{% url "register" %}"
                     style="text-decoration: none;">
                        Create an account
                  </a>
            </p>
      </div>
</center>
</body>
</html>
