<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Main PAGE</title>
   <link rel="icon"type="image/x-icon" href="logo.jpg">
   <style> 
     table,th,td{
         border: 3px  outset rgb(240, 240, 240);
         border-collapse: collapse;
         background-color: rgb(23, 13, 110);
         border-radius: 10px;
         
 
 
     }
 </style>

</head>
<body>
 
   <h1> Student recort </h1>
   <body style="background-image: rgb(121, 59, 179);">
  
       
       <table style width="100%" height="100%">
       
        <tr>
            <td>
              <button>       <a href="student page1.html"="target_blank" >student recort</a> </button>  
            </td>
            <td>
              <button>   <a href="Teacher page2.html"="target_blank" >teacher  recort</a>  </button> 
            </td>
            

 

</body>
</html>